.navbar {
    min-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2f364a;
}

.navbar__logo {
    font-size: 25px;
    text-transform: uppercase;
    opacity: 0.9999;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}

.navbar__logo:active {
    filter: contrast(0.6);
}

.list {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

}

.link {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    padding: 10px 15px 10px;
}

.link:hover {
    background: #1e2330;
    cursor: pointer;
    transition: transform 0.3s;
}



.authorization {
    color: #fff;
}