.navbar {
    min-height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2f364a;
}

.navbar__logo {
    font-size: 25px;
    text-transform: uppercase;
    opacity: 0.9999;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}

.navbar__logo:active {
    filter: contrast(0.6);
}

.list {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;

}

.link {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    text-decoration: none;
    padding: 10px 15px 10px;
}

.link:hover {
    background: #1e2330;
    cursor: pointer;
    transition: transform 0.3s;
}

form {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-input {
    width: 240px;
    height: 30px;
    border-radius: 3px;
    padding: 6px 15px 6px 5px;
    border: 1px solid #DDD;
    box-shadow: 0 0 0 inset;
    outline: none;
    line-height: 18px;
    font-size: 14px;
    color: #fff;
    background: #2f364a;
}

.authorization {
    color: #fff;
}