.form-search {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
}

.search-input {
    width: 240px;
    height: 30px;
    border-radius: 3px;
    padding: 6px 15px 6px 5px;
    border: 1px solid #DDD;
    box-shadow: 0 0 0 inset;
    outline: none;
    line-height: 18px;
    font-size: 14px;
    color: #fff;
    background: #2f364a;
}

.search-img {
    position: absolute; 
    right: 0;
    transform: translateX(-50%);
    width:20px;
    height:20px;
    cursor: pointer;
    border: none;
    font-size: 0;
    background-color: transparent;
    z-index: 3;
}

.form-search img {
    position: absolute;
    right: 0;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 1;
}