.find-error-content {
    max-width: 990px;
    background: #2f364a;
    margin: 5px auto;
    border-radius: 3px;
    padding: 5px 8px;
    text-align: center;
    font-size: 14px;
    color: #78829d;
}

.find-error-content h2 {
    display: block;
    font-size: 19px;
    text-align: center;
    color: rgb(120, 130, 157);
    box-shadow: 0px 8px 8px -8px rgba(0, 0, 0, 0.5);
    padding: 0 0 8px 0;
    margin: 0 0 8px 0;
}